/vendor/
composer.lock
/debian/multiflexi/
/debian/multiflexi.substvars
/debian/multiflexi.debhelper.log
/debian/debhelper-build-stamp
/debian/files
/debian/multiflexi-pgsql/
/debian/multiflexi-mysql/
/debian/multiflexi-sqlite/
/debian/multiflexi-sqlite.debhelper.log
/debian/multiflexi-mysql.substvars
/debian/multiflexi-pgsql.substvars
/debian/multiflexi-pgsql.debhelper.log
/debian/multiflexi-mysql.debhelper.log
/debian/multiflexi-sqlite.substvars
/.vagrant/
/debian/.debhelper/
/debian/multiflexi/
/debian/multiflexi-mysql/
/debian/multiflexi-sqlite/
/debian/multiflexi-pgsql/
/debian/multiflexi-pgsql.debhelper.log
/debian/multiflexi.substvars
/debian/multiflexi-mysql.debhelper.log
/debian/multiflexi-pgsql.substvars
/debian/multiflexi-mysql.substvars
/debian/multiflexi-sqlite.substvars
/debian/multiflexi-sqlite.debhelper.log
/debian/multiflexi.debhelper.log
/debian/multiflexi.postrm.debhelper
/deb/
/nbproject/private/
/OpenAPI/node_modules/
/.php_cs.cache
/.env
.vscode/settings.json
db/multiflexi
/.php-cs-fixer.cache
/tests/.phpunit.result.cache
/log/
/nbproject/configs/
/db/multiflexi.sqlite
/src/translations.php
/debian/multiflexi-zabbix/
/debian/multiflexi-podman/
/debian/multiflexi-api/
/debian/multiflexi-zabbix.substvars
/debian/multiflexi-zabbix.debhelper.log
/debian/multiflexi-podman.substvars
/debian/multiflexi-podman.debhelper.log
/debian/multiflexi-api.debhelper.log
/debian/multiflexi-api.substvars
/.phpunit.cache/
