Source: multiflexi
Section: web
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper (>=11~), jq, moreutils
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/MultiFlexi

Package: multiflexi
Multi-Arch: foreign
Depends: ${misc:Depends},
 php-vitexsoftware-ease-core (>=1.45),
 php-vitexsoftware-ease-html-widgets (>=1.1.1),
 php-cli,
 locales-all,
 php-vitexsoftware-ease-bootstrap5-widgets (>=1.7),
 php-vitexsoftware-ease-fluentpdo (>=1.3),
 multiflexi-sqlite|multiflexi-mysql|multiflexi-pgsql,
 libjs-jquery-datatables,
 libjs-jquery-selectize.js,
 anacron, adduser (>= 3.11),
 php-symfony-console
Suggests: multiflexi-all
Pre-Depends: php-robmorgan-phinx|php-cakephp-phinx
Architecture: all
Description: run several tools on defined abraflexi servers
 Define server, customers and its companies. Then specify
 which services/commands run upon it.

Package: multiflexi-sqlite
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi, dbconfig-sqlite3, php-sqlite3, sqlite3
Conflicts: multiflexi-mysql, multiflexi-pgsql
Replaces: multi-flexibee-setup-sqlite
Architecture: all
Description: sqlite support for multiabraflexi setup
 Mandatory dependencies for use Multi FlexiBee setup with SQLite database

Package: multiflexi-mysql
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi, dbconfig-mysql, php-mysql, php-robmorgan-phinx|php-cakephp-phinx
Conflicts: multiflexi-sqlite, multiflexi-pgsql
Replaces: multi-flexibee-setup-mysql
Suggests: mariadb-server
Architecture: all
Description: mariadb support for multiabraflexi setup
 Mandatory dependencies for use Multi FlexiBee setup with MySQL/MariaDB databas

Package: multiflexi-docker
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi, docker-ce-cli|docker.io
Architecture: all
Description: Run MultiFlexi tasks in container
 Run MultiFlexi tasks in Docker container

#Package: multiflexi-podman
#Multi-Arch: foreign
#Depends: ${misc:Depends},multiflexi, podman
#Architecture: all
#Description: Run MultiFlexi tasks in container
# Run MultiFlexi tasks in container

#Package: multiflexi-kubernetes
#Multi-Arch: foreign
#Depends: ${misc:Depends},multiflexi, kubernetes-client
#Architecture: all
#Description: Run MultiFlexi tasks on Kubrnetes
# Run MultiFlexi tasks in big corporation

Package: multiflexi-api
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi,php-vitexsoftware-multiflexi-server, php-yaml
Architecture: all
Description: API Server for MultiFlexi
 json/xml/yaml/html interface

Package: multiflexi-zabbix
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi
Recommends: zabbix-agent2
Architecture: all
Description: Zabbix support for MultiFlexi
 LLD for configured content

Package: multiflexi-abraflexi
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi, php-vitexsoftware-abraflexi-bricks,php-vitexsoftware-ease-bootstrap5-widgets-abraflexi
Architecture: all
Description: MultiFlexi support for AbraFlexi
 AbraFlexi Connection dialog

Package: multiflexi-raiffeisenbank
Multi-Arch: foreign
Depends: ${misc:Depends},multiflexi
Architecture: all
Description: MultiFlexi support for RaiffeisenBank
 RaiffeisenBank connection dialog

#Package: multiflexi-dev
#Depends: multiflexi,jq
#Architecture: all
#Description: MultiFlexi debugging tools
# MultiFlexi prober script

#Package: multiflexi-doc
#Multi-Arch: foreign
#Depends: ${misc:Depends}
#Architecture: all
#Description: MultiFlexi Html Manual
