[Desktop Entry]
Version=1.0
Type=Application

Name=Multi Flexi
Comment=several accounting tools launcher
Categories=Office;Finance;

Icon=multiflexi
Exec=sensible-browser http://localhost/multiflexi/
Terminal=false

