#!/bin/sh

set -e

. /usr/share/debconf/confmodule


if [ "$1" = "configure" -a "$DPKG_MAINTSCRIPT_NAME" = "postinst" ] || \
        [ "$1" = "reconfigure" ]; then
    echo
fi

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
        dbc_dbtypes="sqlite3, mysql, pgsql"
        dbc_authmethod_user="password"
        . /usr/share/dbconfig-common/dpkg/config
        dbc_go multiflexi "$@"
fi

db_input medium multiflexi/reconfigure-webserver || true
db_go || true
db_input medium multiflexi/restart-webserver || true
db_go || true
