#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DB_CONNECTION = dummy
export DB_HOST = dummy
export DB_PORT = dummy
export DB_DATABASE = dummy
export DB_USERNAME = dummy
export DB_PASSWORD = dummy

%:
	dh $@ --with phpcomposer

#override_dh_auto_build:
#	dh_auto_build
#	make -C docs html

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

