#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

override_dh_install:
	dh_install
	jq '.version = "$(shell dpkg-parsechangelog --show-field Version)"' debian/conf/composer.json | sponge debian/conf/composer.json
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/multi-abraflexi-setup/g' debian/multi-abraflexi-setup/usr/share/multi-abraflexi-setup/init.php
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/multi-abraflexi-setup/g' debian/multi-abraflexi-setup/usr/lib/multi-abraflexi-setup/executor.php
	sed -i -e 's/dirname(__DIR__)/"\/etc\/multi-abraflexi-setup\/"/g' debian/multi-abraflexi-setup/usr/lib/multi-abraflexi-setup/executor.php
	sed -i -e 's/dirname(__DIR__)/"\/etc\/multi-abraflexi-setup\/"/g' debian/multi-abraflexi-setup/usr/share/multi-abraflexi-setup/init.php
	sed -i -e 's/composer\.json/\/usr\/lib\/multi-abraflexi-setup\/composer\.json/g' debian/multi-abraflexi-setup/usr/lib/multi-abraflexi-setup/AbraFlexi/Ui/PageBottom.php
	sed -i -e 's/js\/jquery.dataTables.js/\/javascript\/jquery-datatables\/jquery.dataTables.js/g' debian/multi-abraflexi-setup/usr/lib/multi-abraflexi-setup/AbraFlexi/Ui/DBDataTable.php
	sed -i -e 's/js\/dataTables.bootstrap4.js/\/javascript\/jquery-datatables\/dataTables.bootstrap4.js/g' debian/multi-abraflexi-setup/usr/lib/multi-abraflexi-setup/AbraFlexi/Ui/DBDataTable.php
	sed -i -e 's/css\/dataTables.bootstrap4.css/\/javascript\/jquery-datatables\/css\/dataTables.bootstrap4.css/g' debian/multi-abraflexi-setup/usr/lib/multi-abraflexi-setup/AbraFlexi/Ui/DBDataTable.php
	sed -i -e 's/\.\.\/i18n/\/usr\/share\/locale/g'            	     debian/multi-abraflexi-setup/usr/share/multi-abraflexi-setup/init.php
	mkdir -p                                                             debian/multi-abraflexi-setup-sqlite/usr/lib/multi-abraflexi-setup
	cp debian/conf/.env.template                                         debian/multi-abraflexi-setup-sqlite/usr/lib/multi-abraflexi-setup
	mkdir -p                                                             debian/multi-abraflexi-setup-mysql/usr/lib/multi-abraflexi-setup
	cp debian/conf/.env.template                                         debian/multi-abraflexi-setup-mysql/usr/lib/multi-abraflexi-setup
	mkdir -p                                                             debian/multi-abraflexi-setup-pgsql/usr/lib/multi-abraflexi-setup
	cp debian/conf/.env.template                                         debian/multi-abraflexi-setup-pgsql/usr/lib/multi-abraflexi-setup
	sed -i '/DB_DATABASE/c\DB_DATABASE=_DBC_DBNAME_'                     debian/multi-abraflexi-setup-*sql/usr/lib/multi-abraflexi-setup/.env.template
