#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

override_dh_install:
	mkdir -p debian/tmp/
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/tmp/composer.json
	dh_install
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/multiflexi/g' debian/multiflexi/usr/share/multiflexi/init.php
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/multiflexi/g' debian/multiflexi*/usr/lib/multiflexi/*.php
	sed -i -e 's/\.\.\/\.env/\/etc\/multiflexi\/\multiflexi\.env/g' debian/multiflex*/usr/lib/multiflexi/*.php
	sed -i -e '/dirname(__DIR__)/c\    "\/etc\/multiflexi\/multiflexi\.env"' debian/multiflexi/usr/share/multiflexi/init.php
	sed -i -e 's/\.\.\/\.env/\/etc\/multiflexi\/\.env/g' debian/multiflexi/usr/lib/multiflexi/phinx-adapter.php
	sed -i -e 's/composer\.json/\/usr\/lib\/multiflexi\/composer\.json/g' debian/multiflexi/usr/lib/multiflexi/MultiFlexi/Ui/PageBottom.php
	sed -i -e 's/js\/jquery.dataTables.js/\/javascript\/jquery-datatables\/jquery.dataTables.js/g' debian/multiflexi/usr/lib/multiflexi/MultiFlexi/Ui/DBDataTable.php
	sed -i -e 's/js\/dataTables.bootstrap4.js/\/javascript\/jquery-datatables\/dataTables.bootstrap4.js/g' debian/multiflexi/usr/lib/multiflexi/MultiFlexi/Ui/DBDataTable.php
	sed -i -e 's/css\/dataTables.bootstrap4.css/\/javascript\/jquery-datatables\/css\/dataTables.bootstrap4.css/g' debian/multiflexi/usr/lib/multiflexi/MultiFlexi/Ui/DBDataTable.php
	sed -i 's/css\/selectize/\/javascript\/selectize.js\/css\/selectize/' debian/multiflexi/usr/lib/multiflexi/MultiFlexi/Ui/DBDataTable.php
	sed -i -e 's/\.\.\/i18n/\/usr\/share\/locale/g'            	     debian/multiflexi/usr/share/multiflexi/init.php
	mkdir -p                                                             debian/multiflexi-sqlite/usr/lib/multiflexi
	cp debian/conf/.env.template                                         debian/multiflexi-sqlite/usr/lib/multiflexi
	mkdir -p                                                             debian/multiflexi-mysql/usr/lib/multiflexi
	cp debian/conf/.env.template                                         debian/multiflexi-mysql/usr/lib/multiflexi
	mkdir -p                                                             debian/multiflexi-pgsql/usr/lib/multiflexi
	cp debian/conf/.env.template                                         debian/multiflexi-pgsql/usr/lib/multiflexi
	sed -i '/DB_DATABASE/c\DB_DATABASE=_DBC_DBNAME_'                     debian/multiflexi-*sql/usr/lib/multiflexi/.env.template
	sed -i "s/'';/'$$(echo $${BUILD_NUMBER})';/"  src/MultiFlexi/Ui/PageBottom.php
	rm  debian/multiflexi/usr/lib/multiflexi/MultiFlexi/ZabbixSender.php
	rm  debian/multiflexi/usr/bin/multiflexi-zabbix-lld
	rm  debian/multiflexi/usr/bin/multiflexi-zabbix-lld-company
	rm  debian/multiflexi/usr/bin/multiflexi-zabbix-lld-tasks
	rm  debian/multiflexi/usr/bin/multiflexi-zabbix-lld-actions
	rm  debian/multiflexi/usr/lib/multiflexi/zabbixcompanylld.php
	rm  debian/multiflexi/usr/lib/multiflexi/zabbixlld.php
	rm  debian/multiflexi/usr/lib/multiflexi/zabbixlldactions.php
	sed -i "/require_once __DIR__/crequire_once '/var/lib/composer/multiflexi/autoload.php';"               debian/multiflexi-api/usr/share/multiflexi/api/index.php
	sed -i "/loadConfig/c\\\\\Ease\\\\Shared::singleton()->loadConfig('/etc/multiflexi/multiflexi.env', true);"    debian/multiflexi-api/usr/share/multiflexi/api/index.php
	sed -i "/setBasePath/c\\$app->setBasePath('/api');"                                                      debian/multiflexi-api/usr/share/multiflexi/api/index.php
	sed -i "s/\/MultiFlexi\/src//"                                                                          debian/multiflexi-api/usr/share/multiflexi/api/index.php
