# .github/workflows/lint.yaml
name: DOCtor-RST

on:
    push:
    pull_request:

jobs:
    doctor-rst:
        name: DOCtor-RST
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout code"
              uses: actions/checkout@v5

            - name: DOCtor-RST
              uses: OskarStark/doctor-rst@1.70.2
              with:

                  args: --short --error-format=github
              env:
                  DOCS_DIR: 'docs/source/'
